<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static.css">
    <title>Expenses Tracker</title>
</head>
<body>
<div class="head"></div>
<div class="container">
    <br>
    <h1>Expense Tracker</h1><br>
    {% for expense in expenses %}
        <p>
            <span><b>Category</b></span> {{ expense.category }},
            <span><b>Description</b></span>: {{ expense.description }},
            <span><b>Amount</b></span>: {{ expense.amount }}
        </p>
    {% endfor %}
    <hr class="line">
    <h3><b>Total expenses</b> : {{ total }}</h3><br>
    <div class="container text-left">
        <div class="row">
            <div class="col-3"><a href="/add"><button class="btn btn-outline-dark">+Add New Expense</button></a></div>
            <div class="col"><a href="/stats"><button class="btn btn-outline-dark">View Stats</button></a></div>
        </div>
    </div>
</div>
<div class="fixed-bottom head"></div>
</body>
</html>